[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
Werkzeug = "*"
pytest = "*"
ipdb = "*"
importlib-metadata = "*"
importlib-resources = "*"
Faker = "*"
sqlalchemy = "*"
mail = "*"
cors = "*"
pyjwt = "*"

[requires]
python_full_version = "3.8.13"

[dev-packages]
